# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# generated
src/generated/*

# Files from Forge MDK
forge*changelog.txt
*.db

# local
#AntimatterAPI
#TesseractAPI

.vscode/
mcmodsrepo/
